<h1>{{title}}</h1>
<p>	Bienvenido a la aplicaci&oacute;n {{title}}</p>
<div class="container">
	<div class="row">
		<div class="col col-6"><div class="alert alert-success">Div 1</div></div>
		<div class="col col-6"><div class="alert alert-info">Div 2</div></div>
	</div>
</div>
<hr>
<form action="/alta" method="POST">
	<div class="row">
		<div class="col">
			<input type="text" class="form-control" name="nombre">
		</div>
		<div class="col">
			<input type="text" class="form-control" name="foto">
		</div>
		<button type="submit" class="btn btn-primary">Enviar</button>
	</div>
</form>
